.bg {
    background-image: url('../background.png');
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Centered container */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Rounded square box */
.box {
    background-color: #a6cfd3;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Welcome text styles */
.box h1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icon next to Create Account text */
.box h1 img {
    width: 30px; /* Adjust size as needed */
    height: 30px;
    margin-right: 10px;
}

/* Input fields */
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures the padding doesn't overflow the container */
}

/* Radio buttons container */
.radio-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Hide default radio button */
.radio-buttons input {
    display: none;
}

/* Styling for the labels acting as buttons */
.radio-buttons label {
    background-color: #76c7c0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    text-align: center;
}

/* Change background on hover */
.radio-buttons label:hover {
    background-color: #88d1c9;
}

/* Change background when selected */
.radio-buttons input[type="radio"]:checked + label {
    background-color: #85e0e0;
}

/* Login box */
.login-box {
    margin-top: 10px;
}

/* Login Button */
.create-btn {
    background-color: #76c7c0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    
}

/* Change color on hover */
.create-btn:hover {
    background-color: #5d9f9f;
}

/* Sign-up link */
.signup-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}
.signup-link:hover {
    text-decoration: underline;
}

.close{
    float: right;
}
.close:hover{
    cursor: pointer;
}