/* Set font family */
.homepage{
    font-family: Arial, sans-serif;
    margin: 0;
    background-size: cover;
    background-image: url('background.png');
}

/* Top navigation bar */
.navbar {
    background: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navbar content */
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 0;
}
.logo img {
    width: 250px; /* Adjust logo size */
    height: auto;
}

        /* About Us and Login buttons */
.nav-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-button {
    background-color: #03a9f4; /* Blue-green button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px; /* Same button height */
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.nav-button:hover {
    background-color: #007ac1; /* Hover effect */
}

/* Remove hyperlink underline */
a {
    text-decoration: none;
    color: #fff;
}

/* Invisible box filling screen */
.fill-screen {
    height: 90vh; /* Fill entire screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Big text */
.big-text {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif; /* Serious font */
    color: #fff; /* White text color */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Text shadow */
}

/* About Us section */
.about-us {
    background-color: #f7f7f7; /* Light bluish gray background */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* About Us content */
.about-us-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us-text {
    width: 50%;
}

.about-us-image {
    width: 40%;
}

.about-us-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}